.tags-dropdown-enter {
    max-height: 0;
}
.tags-dropdown-enter-active {
    max-height: 300px;
    transition: all 500ms ;
}
.tags-dropdown-exit {
    max-height: 300px;
    opacity: 1;
}
.tags-dropdown-exit-active {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms;
}