.item {
    width: 100%;
    overflow: hidden
}

.itemImg {
    border: 1px solid #fff0;
    text-align: center;
    height: 100px;
    flex-shrink: 0;
    position: relative;
}

.itemToolbar {
    font-size: 18px;
}

.itemContent {
    flex: 1 0;
    overflow: hidden;
}

.itemImg > img {
    position: relative;
    height: 100%;
    object-fit:contain;
}

.itemContent .title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.itemContent .footer {
    flex-grow: 1;
    align-items: flex-end;
}

.blurBg {
    position: absolute;
    display: block;
    top: -13px;
    left: -13px;
    right: -13px;
    bottom: -13px;
    background: no-repeat center;
    background-size: cover;
    opacity: .1;
}



/*ANUMATIONS*/


.like:not(:active) {
    animation: heartbeat 500ms
}

@keyframes heartbeat
{
    0% {transform: scale( 1)}
    20% {transform: scale( .75 )}
    40% {transform: scale( 1.1 )}
    60% {transform: scale( .9 )}
    80% {transform: scale( 1.1 )}
    100% {transform: scale( 1 )}
}


.weditoranim-enter {
    max-height: 0;
}
.weditoranim-enter-active {
    opacity: 1;
    max-height: 2000px;
    transition: all 500ms ;
}
.weditoranim-exit {
    max-height: 2000px;
    opacity: 1;
}
.weditoranim-exit-active {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms;
}

.wimg {
    height: 100px;
    width: 100px;
    transition: all 200ms;
}

.modeview-enter-done .wimg{
    height: 130px;
    width: 100%;
}

.wcontent {
    transition: all 300ms;
    transition-delay: 200ms;
    opacity: 1;
}

.modeview-enter-done .wcontent{
    opacity: 0;
}
