.enter {
    bottom: -100px;
}
.enterActive {
    opacity: 1;
    bottom: 0;
    transition: all 250ms;
    transition-delay: 250ms;
}
.exit {
    opacity: 1;
    bottom: 0;
}
.exitActive {
    bottom: -100px;
    transition: all 250ms;
}
