.toolbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.page-enter .home{
    animation: slideInLeft 0.5s forwards;
}
.page-exit .home{
    animation: slideOutLeft 0.5s forwards;
}

.page-enter .about{
    animation: slideInRight 0.5s forwards;
}
.page-exit .about{
    animation: slideOutRight 0.5s forwards;
}


