.item {
    width: 100%;
    overflow: hidden
}

.item-img {
    border: 1px solid #fff;
    text-align: center;
    height: 100px;
    flex-shrink: 0;
    position: relative;
}

.item-toolbar {
    font-size: 18px;
}

.item-content {
    flex: 1 0;
    overflow: hidden;
}

.item-img > img {
    position: relative;
    height: 100%;
    object-fit:contain;
}

.item-content .title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.item-content .footer {
    flex-grow: 1;
    align-items: flex-end;
}
