.clouds{
    background: linear-gradient(to left, #ece9e6, #ffffff);
}

.moonlitAsteroid {
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}

.friday {
    background: linear-gradient(to left, #6e96aa, #17a2b8);
}
