@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./bootstrap.css";


.bg-0 {
    background-color: #1a2033;
}


.row > * {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

}

@media (max-width:768px) {
    [class*='col-sm'] {
        width:100%;
    }
}

.cursor{
    cursor: pointer;
}


.f16 {
    font-size: 20px !important;
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -0.5rem; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 0.5rem; /* gutter size */
    background-clip: padding-box;
    transition: all 0.6s ease-in-out;
}

   .xxxx{
       background: red;
       width: 50px;
       height: 50px;
   }

   .ttex {
       position: absolute;
       display: block;
       top: -13px;
       left: -13px;
       right: -13px;
       bottom: -13px;
       background: no-repeat center;
        background-size: cover;
       -webkit-filter: blur(13px);
       filter: blur(13px);
       opacity: .4;
   }












.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
