@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./bootstrap.css";


.bg-0 {
    background-color: #1a2033;
}


.row > * {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

}

@media (max-width:768px) {
    [class*='col-sm'] {
        width:100%;
    }
}

.cursor{
    cursor: pointer;
}


f16 {
    font-size: 16px !important;
}









